.show-hide-icons svg{
  width: 16px;
}

.show-hide-icons{
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

.login-form #password{
  padding-right: 30px;
}

.google-login div{
  height: auto !important;
}

.google-login div[role="button"]{
  padding: 8px;
}

.google-login iframe{
  display: none !important;
  /* padding: unset !important; */
  width: 100% !important;
}