.productdisplay-img-list img {
  max-height: 90px;
}

.productdisplay-main-img {
  height: 480px;
}

.productdisplay-left {
  width: 30%;
}

.productdisplay .product-title {
  font-size: clamp(26px, 4vw, 34px);
  line-height: normal;
}

.productdisplay .product-description {
  color: #121212bf;
}

.productdisplay .current-price {
  font-size: 30px;
}

.productdisplay .old-price {
  font-size: 24px;
  color: var(--black-75);
}

.productdisplay-size li {
  border: 1px solid var(--black-75);
  border-radius: 2px;
  width: 35px;
  height: 35px;
  font-size: 14px;
}

.product-discount {
  font-size: 24px;
  color: var(--shopper-red);
}

.productdisplay-add-btn button {
  border-radius: 4px !important;
  width: 50%;
}

.product-buy-now-btn button {
  border-radius: 4px !important;
  width: 100%;
}

.productdisplay-left {
  position: sticky;
  top: 80px;
  align-self: start;
}

.product-sizes li.selected,
.color-option.selected {
  border: 2px solid #000;
}

.color-option {
  width: 60px;
  height: 80px;
  border-radius: 2px;
  background-size: cover;
  background-position: center;
}

.productdisplay .thumbnails .slick-initialized .slick-slide {
  padding: 0 4px;
}

.size-option {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.size-option.out-of-stock{
  position: relative;
}

.size-option.out-of-stock::after {
  border-left: 1px solid #bfbfbf;
  /* width: 100%; */
  bottom: 0;
  content: "";
  left: 50%;
  position: absolute;
  top: 0;
  transform: rotate(45deg);
}


#addToCart[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.pd-btn{
  width: 35px;
  height: 35px;
  border: 1px solid var(--black-75);
}


@media (max-width: 576px) {
  .productdisplay-main-img {
    width: 100%;
    height: auto;
  }

  .productdisplay-left {
    position: static;
    width: 100%;
  }

  #addToCart {
    width: 100% !important;
    padding: 10px 24px;
  }

  .payment-info-image {
    width: 100% !important;
  }

  .color-option {
    width: 45px;
    height: 65px;
  }
}