.productdisplay-img-list img {
  max-height: 90px;
}

.productdisplay-main-img {
  height: 480px;
}

.productdisplay-left{
  width: 30%;
}

.productdisplay .product-title {
  font-size: 34px;
  line-height: normal;
}

.productdisplay .product-description {
  color: #121212bf;
}

.productdisplay .current-price {
  font-size: 30px;
}

.productdisplay .old-price {
  font-size: 24px;
  color: var(--black-75);
}

.productdisplay-size h1 {
  font-size: 16px;
}

.productdisplay-size li {
  border: 1px solid var(--black-75);
  border-radius: 100%;
  width: 29px;
  height: 29px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-discount{
  font-size: 24px;
  color: var(--shopper-red);
}

.productdisplay-add-btn button{
  border-radius: 4px !important;
  width: 50%;
}

.product-buy-now-btn button{
  border-radius: 4px !important;
  width: 100%;
}

.productdisplay-left{
  position: sticky;
  top: 80px;
  align-self: start;
}

.product-sizes li.selected {
  border: 2px solid #000;
  background-color: #f0f0f0;
}

.product-colors li.selected{
  border: 1px solid red;
}


@media (max-width: 576px) {
  .productdisplay-main-img {
    width: 100%;
    height: auto;
  }
}













.color-options {
  display: flex;
  flex-wrap: wrap;
}

.color-option {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid transparent;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
}

.color-option.selected {
  border-color: #000; /* Or any color for the selected border */
}

.color-option.selected::after {
  display: block; /* Show the indicator for selected option */
}
