.item a{
  color: var(--text-black);
}

.item p {
  margin: 6px 0;
}

.item-price-new {
  color: var(--text-black);
  font-size: 18px;
}

.item-price-old {
  color: var(--black-75);
  font-size: 16px;
}

.item img{
  transition: all ease 0.3s;
}

.item:hover img{
  transform: scale(1.05);
}

.item-name {
  font-size: 18px;
  color: var(--text-black) !important;
  font-family: 'Lato', sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}