.reviews-section {
  /* margin: 2rem auto; */
  max-width: 600px;
  /* font-family: Arial, sans-serif; */
}
.reviews-list {
  list-style: none;
  padding: 0;
}
.rating-stars i {
  font-size: 2rem;
  margin: 0 0.2rem;
}
.review-form input, .review-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
}
.submit-button:hover {
  background-color: #0056b3;
}

.review-videos{
  width: 235px;
  height: 160px;
}

.review-actions {
  position: relative;
}

.three-dots-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.actions-dropdown {
  position: absolute;
  top: 100%;
  left: 15px;
  display: none;
  flex-direction: column;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.review-actions:hover .actions-dropdown {
  display: flex;
}

.action-btn {
  /* padding: 10px 15px; */
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
}

.action-btn:hover {
  background: #f0f0f0;
}
