/* Styling for the ProfileSidebar */
.profile-sidebar {
  display: flex;
  width: 100%;
}

.profile-info {
  background-color: #393738;
  border-radius: 11px 11px 0 0;
  color: #ffffffe6;
}

.profile-info p {
  color: #ffffffe6;
}

.user-profile-email {
  font-size: clamp(12px, 2vw, 14px) !important;
}

.user-profile-name {
  font-size: clamp(14px, 4vw, 16px);
}

.edit-profile-btn {
  font-size: 14px !important;
}

.edit-profile-btn svg {
  width: 16px;
  height: 16px;
}

.sidebar-nav {
  width: 400px;
  background-color: #f7f7f7;
  /* border-right: 1px solid #ddd; */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.sidebar-item {
  display: block;
  padding: 15px 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.438);
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.sidebar-item.active {
  background-color: #428bc114;
  color: #666666;
}

.sidebar-item:hover {
  background-color: #428bc114;
  color: #666666;
}

.sidebar-content {
  flex-grow: 1;
  padding: 0 20px;
}

.sub-content-css h3 {
  color: var(--black);
  font-size: clamp(12px, calc(16 * (100vw / 1440)), 20px);
}

.sub-content-css p {
  font-size: 14px;
}