.hero{
  /* height: 100vh; */
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}

.hero-left{
  flex: 1;
  line-height: 1.1;
}

.hero-left h2{
  color: var(--black09);
  font-size: 26px;
}

.hero-left p{
  color: var(--black17);
  font-size: 80px;  
}

.hero-hand-icon img{
  width: 6.9vw;
}

.hero-latest-btn{
  background-color: var(--shopper-red);
  border: 1px solid var(--shopper-red);
  font-size: 20px;
  width: fit-content;
}

.hero-right{
  flex: 1;
}