.profile-main {
  background-color: #f1f3f6;
}

.profile-picture {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.profile-main p {
  color: #666;
  font-size: 1.1rem;
}

.profile-main label {
  user-select: none;
}

@media (max-width:576px) {
  .edit-profile {
    width: 100% !important;
  }

  .profile-main .accordion-button {
    padding: 16px 12px;
  }
}