/* Css for brand section- Start */
.brand-section .section-subhead {
	color: var(--accent);
}

.brand-section .section-head {
	color: var(--accent-secondary);
	font-size: 24px;
	font-size: clamp(18px, 3vw, 24px);
}

.brand-section .brand-image {
	width: 200px;
	height: auto;
}

/* Css for brand section- End */